// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//My CSS
html,
body,
#app,
.container-fluid {
  font-size: 10px;
  height: 100%;
  background: #E5E5E5;
  //display: flex;
  //flex-direction: column;
}

.pl-table {
  .row {
      margin: 5px 0;
      padding: 0 20px;
      align-items: center;
  }
  .col {
      padding: 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
}

.pl-tbody {
  .row {
      background-color: #ffffff;
      padding-top: 7px;
      padding-bottom: 7px;
      color: #979797;
      font-size: 11px;
  }
}

//Promo
.label-as-badge {
  position: absolute;
  border-radius: 100%;
  //display: inline-block;
  width: 34px;
  height: 34px;
  font-family: Circe;
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  //text-align: center;
  padding: 0px;
  padding-top: 2px;
  margin-left: -15px;
  margin-top: -5px;
}

.navbar {
  border-bottom: 18px solid #22B14C;
}

.basket-title {
  font-family: Muller, Arial;
  font-size: 36px;
  color: #FFFFFF;
}

.basket-row {
  background: rgba(0, 0, 0, 0.1);
  height: 47px;
  margin-bottom: 7px;
}

.basket-product-number {
  font-family: Muller, Arial;
  font-size: 18px;
}

.basket-item-id,
.basket-name {
  font-family: Muller, Arial;
  font-size: 18px;
}

.basket-counter {
  width: 100px;
  height: 100px;
}

.basket-count,
.basket-cost {
  font-family: Muller, Arial;
  font-size: 20px;
}

.basket-price {
  font-family: Muller, Arial;
  font-size: 13px;
}

.basket-footer {
  background-color: #213791;
  height: 44px;
  border-bottom: 8px solid #22B14C;
}

.basket-total-title {
  font-family: Muller, Arial;
  font-size: 24px;
  color: #FFFFFF;
}

.basket-total-cost {
  font-family: Muller, Arial;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}

.additional-title-row {
  font-family: Muller, Arial;
  font-weight: bold;
  font-size: 44px;
  height: 101px;
  align-content: center;
  background-color: #FFCA05;
}

.additional-title {
  font-family: Muller, Arial;
  font-weight: bold;
  font-size: 48px;
}

.additional-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

.product-image {
  height: auto;
  width: auto;
  /*max-width: 220px;
  max-height: 220px;*/
  max-width: 100%;
  max-height: 100%;
}

.product-image-big {
  height: auto;
  width: auto;
  max-width: 530px;
  max-height: 530px;
}

.product-card {
  background-color: #DDDDDD;
}

.product-name {
  font-family: Circe, Arial;
  font-size: 18px;
  color: #000000;
}

.product-price {
  font-family: Circe, Arial;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.left-col {
  //height: 100%;
  background: red;
}

.right-col {
  //height: 100%;
  background: green;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
  body {
      font-size: 12px;
  }
}

@media (min-width: 992px) {
  body {
      font-size: 14px;
  }
}

@media (min-width: 1200px) {
  body {
      font-size: 16px;
  }
}


.btn-lg {
  padding: 1rem 1.3rem;
  font-size: 2em;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 0.5rem;
  background-color: #FE0000;
  border-color: #EEEEEE;
  border-width: 5px;
  height: 5em;
}

.btn-lg-cashbox {
  padding: 20px 24px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE;
  border-style: solid none;
  border-width: 3px 0;
  margin: 18px 0;
}

.please-header {
  font-size: 2.5em;
  font-weight: 500;
}

.time-footer {
  /*
padding-top: 12px;
padding-right: 15px;
*/
  font-size: 2em;
  font-weight: 700;
}

.date-footer {
  padding-bottom: 0;
  font-size: 2em;
  font-weight: 700;
}

.info-footer {
  font-size: 1.5em;
  font-weight: 700;
}

table tr {
  text-align: center;
}

.table-striped>tbody>tr {
  font-size: 25px;
  font-weight: 600;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #FFAAC1;
}

.vertical-center {
  min-height: 90%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
  ._btn-lg {
      font-size: 1.8rem;
  }
}

@media (min-width: 1200px) {
  ._btn-lg {
      font-size: 2rem;
  }
  .h_sale_item:nth-child(n+3){
    display: none;
  }
}

.disable-copy {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.pharmacy-header {
  margin-top: 0.1em;
  font-size: 3em;
  font-weight: 700;
  color: red;
}

.opacity {
  opacity: .1;
}

.logo {
  max-height: 8.7vh;
}
.basket__item:last-child{
  background: #FFCA05;
}
/*.w_product_block{
  max-height: calc(100vh - 146px);
}*/
@media screen and (max-width: 1200px){
  .w_container{
      max-width: 100%;
  }
  .w_nav{
      flex-flow: wrap;
      &__basket{
          order: 2;
      }
      &__logo{
          order: 1;
          padding-left: 0;
      }
      &__icon{
          order: 3;
      }
  }

  .w_steps{
      width: 207px;
      background:#22B14C;
      height: 100%;
      position: relative;
      &:before{
          content: '';
          display: block;
          width: 50%;
          height: 33.3333%;
          position: absolute;
          bottom: 0;
          left:-1px;
          background: #FFCA05;
      }
      &:after{
          content: '';
          display: block;
          width: 25%;
          height: 33.3333%;
          position: absolute;
          bottom: 33%;
          left: -1px;
          background: #FFCA05;
      }
  }
  .w_title{
      display: flex;
      align-items: center;
      line-height: 100%;
  }
  .w_product_block{
    min-height: 234px;
  }
  .w_two_items:nth-child(n+3){
    display: none;
  }
  .w_two_items{
    max-height: 368px;
  }
  .w_sale_item{
  margin-bottom: 10px;
  }
  .w_img_wrap .product-image{
    max-height: 264px;
  }
  .w_position{
    justify-content: space-between;
    flex-flow: column;
  }
 /* .basket__item:not(:nth-last-child(-n+10)){
    display: none!important;
  }*/
}