body {
    background-color: rgba(0,0,0,0);
}

.logo {
    max-height: 8.7vh;
}

.main-content {
    height: 640px;
    vertical-align: middle;
}

.pharmacy-header {
    margin-top: 0.1em;
    /*font-size: 3em;*/
    font-size: 5.3vh;
    font-weight: 700;
    color: red;
}

.banner-img {
    height: 78vh;
}

.board-header {
    background-color: #F4154E;
    color: white;
    /*font-size: 2.8em;*/
    font-size: 6vh;
    font-weight: 600;
}

.order-table-row {
    /* height: 80px; */
    height: 9.6vh;
}

.client-num-text, .cashbox-num-text {
    padding: 0;
    margin: 0;
    /*font: bold 2.3em Arial; */
    font: bold 6vh Arial;
    color: rgba(0,0,0,0.7);
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(0,0,0,0.05);
}

.call-message-text {
    font: bold 150px Arial;
    color: rgba(0,0,0,0.7);
    /*
    font-family: Arial;
    color: #F4154E;
    */
    z-index: 100;
}

@keyframes blinker_tx {
    50% {
        opacity: 0.5;
    }
}

.separator {
    animation: blinker 4s steps(1, start) infinite;
}

@keyframes blinker {
    30% {
        opacity: 0.5;
    }
}

.blink {
    animation: blinker_tx 4s linear infinite;
}

.opacity {
    opacity: .1;
}

.opacity-call {
    opacity: .1;
}
