<template>
  <div>
    <div class="text-left m-3">
      <div class="h5">{{ nextClientMessage }} {{ clientNum }}</div>
      <div class="h5">{{ messageLabel }} {{ message }}</div>
    </div>
    <div class="text-left m-3">
      {{ cashboxNumLabel }}
      <select class="select" v-model="number" @change="currentClient">
        <option v-for="i in 100" v-bind:key="i">{{ i }}</option>
      </select>
    </div>
    <div class="text-left m-3" v-for="radio in radios">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="radioOrderType"
          :id="radio.order_type"
          :value="radio.order_type"
          v-model="orderType"
        />
        <label class="form-check-label" :for="radio.order_type">{{ radio.name }}</label>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-sm" @click="nextClient">{{ nextButtonLabel }}</button>
    <button
      type="button"
      class="btn btn-primary btn-sm"
      @click="repeatClient"
    >{{ repeatButtonLabel }}</button>
    <button
      type="button"
      class="btn btn-primary btn-sm"
      @click="removeClient"
    >{{ removeButtonLabel }}</button>
    <div class="text-left m-3">
      <table class="table-sm">
        <tr v-for="(row, index) in rows" v-bind:key="row.client_id">
          <td>{{ row.client_num }}</td>
          <td>{{ row.order_type }}</td>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              @click="remove(row.client_id, index)"
            >{{ removeButtonByIdLabel }}</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>
<script>
export default {
  props: ["baseUrl"],
  data() {
    return {
      listUrl: "/api/cashbox/list",
      removeByIdUrl: "/api/cashbox/remove",
      nextUrl: "/api/cashbox/next",
      repeatUrl: "/api/cashbox/repeat",
      removeUrl: "/api/cashbox/stop",
      currentUrl: "/api/cashbox/current",
      rows: [],
      number: 1,
      orderType: "default",
      radios: [
        { order_type: "default", name: "Общая очередь" },
        { order_type: "online", name: "Интернет-заказ" }
      ],
      cashboxNumLabel: "Номер кассы",
      orderTypeLabel: "Тип очереди",
      nextButtonLabel: "Следующий",
      repeatButtonLabel: "Повторить",
      removeButtonLabel: "Завершить",
      removeButtonByIdLabel: "Удалить",
      nextClientMessage: "Текущий клиент",
      messageLabel: "Сообщение",
      message: "",
      clientNum: ""
    };
  },
  created() {
    this.getList();
    this.currentClient();
  },
  methods: {
    nextClient() {
      let data = JSON.stringify({
        cashbox_num: this.number,
        order_type: this.orderType
      });
      axios
        .post(this.baseUrl + this.nextUrl, data, {
          headers: {
            "Content-Type": "application/json"
          }
        })
        .then(response => {
          console.log(response.data.client_num);
          this.clientNum = response.data.client_num;
          this.message = response.data.message;
          this.getList();
        })
        .catch(error => {
          console.log(error);
        });
    },
    repeatClient() {
      let data = JSON.stringify({
        cashbox_num: this.number
      });
      axios
        .post(this.baseUrl + this.repeatUrl, data, {
          headers: {
            "Content-Type": "application/json"
          }
        })
        .then(response => {
          console.log(response.data.client_num);
          this.clientNum = response.data.client_num;
          this.message = response.data.message;
          this.getList();
        })
        .catch(error => {
          console.log(error);
        });
    },
    removeClient() {
      let data = JSON.stringify({
        cashbox_num: this.number
      });
      axios
        .post(this.baseUrl + this.removeUrl, data, {
          headers: {
            "Content-Type": "application/json"
          }
        })
        .then(response => {
          console.log(response.data.client_num);
          this.clientNum = response.data.client_num;
          this.message = response.data.message;
          this.getList();
        })
        .catch(error => {
          console.log(error);
        });
    },
    currentClient() {
      let data = JSON.stringify({
        cashbox_num: this.number
      });
      axios
        .post(this.baseUrl + this.currentUrl, data, {
          headers: {
            "Content-Type": "application/json"
          }
        })
        .then(response => {
          console.log(response.data.client_num);
          this.clientNum = response.data.client_num;
          this.message = response.data.message;
          //this.getList();
        })
        .catch(error => {
          console.log(error);
        });
    },
    nextClientById(id) {},
    getList() {
      axios
        .get(this.baseUrl + this.listUrl)
        .then(response => {
          this.rows = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    remove(id, index) {
      let data = JSON.stringify({
        client_id: id
      });
      axios
        .post(this.baseUrl + this.removeByIdUrl, data, {
          headers: {
            "Content-Type": "application/json"
          }
        })
        .then(response => {
          this.rows.splice(index, 1);
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>
