<template>
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm text-center">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Печать талона</h4>
      </div>
      <div class="card-body text-center">
        <terminal :base-url="baseUrl"></terminal>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Виртуальная касса</h4>
      </div>
      <div class="card-body">
        <cashbox :base-url="baseUrl"></cashbox>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">ТВ</h4>
      </div>
      <div class="card-body">
        <tv :base-url="baseUrl"></tv>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Реклама</h4>
      </div>
      <div class="card-body">
        <promotion base-url="http://vacancy-dev.test.erkapharm.ru/~khitrovav" device="board"></promotion>
        <hr />
        <promotion base-url="http://vacancy-dev.test.erkapharm.ru/~khitrovav" device="terminal"></promotion>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["baseUrl"],
  data() {
    return {};
  },
  mounted() {},
  methods: {},
  created() {}
};
</script>
