<template>
  <div>
    <terminal-button
      @set-text="setText"
      :base-url="baseUrl"
      v-for="button in buttons"
      v-bind:key="button.id"
      :button-name="button.name"
      :order-type="button.type"
    ></terminal-button>
    <div class="row">
      <div class="col-sm-12">
        <div class="h4">Талон номер: {{ this.number }}</div>
        <small class="text-muted">Перед вами: {{ this.length }} человек</small>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["baseUrl"],
  data() {
    return {
      buttons: [],
      number: "",
      length: 0
    };
  },
  created() {
    this.buttons = [
      { id: 1, type: "default", name: "Общая очередь" },
      { id: 2, type: "online", name: "Выдача заказов" }
    ];
  },
  methods: {
    setText(data) {
      this.number = data[0];
      this.length = data[1];
    }
  }
};
</script>
