<template>
  <button type="button" class="btn btn-primary btn-sm m-2" @click="getTicket()">{{ this.buttonName }}</button>
</template>
<script>
export default {
  props: ["baseUrl", "orderType", "buttonName"],
  data() {
    return {
      url: "/api/terminal"
    };
  },
  methods: {
    getTicket() {
      let data = JSON.stringify([
        {
          order_type: this.orderType
        }
      ]);
      axios
        .post(this.baseUrl + this.url, data, {
          headers: {
            "Content-Type": "application/json"
          }
        })
        .then(response => {
          this.$emit("set-text", [
            response.data.client_num,
            response.data.order_length
          ]);
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>
