<template>
  <div>
    <table class="table-sm">
      <tr v-for="(row, index) in rows" v-bind:key="row.id">
        <td>{{ row.client_num }}</td>
        <td>{{ row.cashbox_num }}</td>
      </tr>
    </table>
  </div>
</template>
<script>
export default {
  props: ["baseUrl"],
  data() {
    return {
      url: "/api/tv",
      rows: [],
    };
  },
  created() {
    this.getList();
  },
  methods: {
    getList() {
      axios
        .post(this.baseUrl + this.url)
        .then(response => {
          console.log(response.data[0]);
          this.rows = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>
