<template>
  <div id="carouselSlides" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div
        :class="(index != 0)?'carousel-item':'active carousel-item'"
        v-for="(image, index) in images"
        :key="index"
      >
        <img class="d-block" :src="image.url" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["baseUrl", "device"],
  data() {
    return {
      url: "/api/promotion",
      code: "АУ0001",
      images: {}
    };
  },
  mounted() {
    this.setImages();
  },
  methods: {
    //http://vacancy-dev.test.erkapharm.ru/~khitrovav/api/promotion/images/board/%D0%90%D0%A30001
    setImages() {
      axios
        .get(this.baseUrl + this.url + '/images/' + this.device + '/' + this.code)
        .then(response => {
          this.images = response.data;
        });
    }
  },
  created() {
    //this.setImages()
    this.timer = setInterval(this.setImages, 3000);
  }
};
</script>
