<template>
  <div class="container h-100 py-2 w_container">
    <div class="row d-flex flex-column h-100">
      <div class="row flex-fill">
        <div class="col d-flex flex-column w_product_block" ref="wrap_ref">
        
          <div class="h-100">

            <div
              class="d-flex align-items-center basket-row basket__item"
              ref="item_ref"
              v-for="(item, index) in basket"
              v-if="index >= basket.length - maxCount"
            >
              <div
                class="col-sm-6 p-2 text-left basket-name"
                style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 30ch;"
              >
                {{ index + 1 }}
                {{ dotTitle }}
                {{ item.name }}
              </div>
              <div class="col-sm p-2 text-center">
                <div class="basket-count">
                  {{ item.count }}
                  {{ countTitle }}
                </div>
                <div class="basket-price">
                  {{ formatPrice(item.price) }}
                  {{ currencyTitle }}
                  {{ onOne }}
                  {{ countTitle }}
                </div>
              </div>
              <div class="col-sm p-2 basket-cost">
                {{ formatPrice(item.cost) }}
                {{ currencyTitle }}
              </div>
            </div>
       
          </div>
        </div>
      </div>
      <div class="row basket-footer" ref="basket_ft">
        <div class="col text-right">
          <span class="basket-total-title">{{ totalTitle }}</span>
          <span class="basket-total-cost">
            {{ formatPrice(getBasketCost(basketCost)) }}
            {{ currencyTitle }}
          </span>
        </div>
      </div>

    </div>
  </div>
</template>
<script>
export default {
  props: ["basket", "basketCost"],
  data() {
    return {
      currencyTitle: " руб.",
      countTitle: " шт.",
      dotTitle: ". ",
      onOne: " за 1 ",
      totalTitle: "Итого: ",
      //basket: [],
      maxCount: 17,
      count_middle:0,
    };
  },
  mounted() {
    this.getHeight();
  },
  methods: {
    formatPrice(value) {
      return parseFloat(value)
        .toFixed(2)
        .replace(".", ",");
    },
    getBasketCost(value) {
      if (value === null) {
        return 0.0;
      } else {
        return parseFloat(value)
          .toFixed(2)
          .replace(".", ",");
      }
    },
    getHeight() {
      //Высота блоков
      let item_height = 54,
      all_height = window.innerHeight,
      top_height = 102,
      bot_height = 44,
      promo_height_min = 483,
      promo_height_max = 854

      if (window.innerWidth > 1199){
        this.maxCount = Math.floor((all_height - top_height - bot_height) / item_height)
      }
      else{
        this.maxCount = Math.floor((all_height - top_height - bot_height - promo_height_min) / item_height)
        this.count_middle = Math.floor((all_height - top_height - bot_height - promo_height_max) / item_height)
       }
    },
  },
  watch: {
    basket: function () { 
      this.$parent.$emit('updateCount', this.count_middle);
    }
  },
  created() {}
};
</script>
