<template>
  <div class="row navbar w_nav" style="background-color: #213791; height: 102px;">
    <div class="col-4  col-md-5 col-sm-5 w_nav__basket">
      <span class="basket-title">
        {{ recycleTitle.toUpperCase() }}
        <img :src="basketIcon" />
      </span>
      <span class="badge badge-success label-as-badge">{{ count }}</span>
    </div>
    <div class="col-4 w_nav__logo text-center">
      <img :src="logo" />
    </div>
    <div class="col-4 col-md-3 col-sm-3 w_nav__icon text-right">
      <img :src="iLiveIcon" />
    </div>
  </div>
</template>
<script>
export default {
  props: ["logo", "basketIcon", "iLiveIcon", "count"],
  data() {
    return {
      recycleTitle: "Корзина"
    };
  },
  mounted() {},
  methods: {},
  created() {}
};
</script>
