<template>
  <div class="container-fluid vh-100 d-flex flex-column">
    <!-- Show promo -->
    <promo v-if="showPromo" :promo-images="promoImages[this.size_slide]" :max-height="windowHeight"></promo>
    <!-- Show navbar -->
    <promo-navbar-horizontal
      v-if="!showPromo"
      :logo="logo"
      :basketIcon="basketIcon"
      :iLiveIcon="iLiveIcon"
      :count="this.basket.length"
    ></promo-navbar-horizontal>
    <div v-if="!showPromo" class="row flex-grow-1 w_position">
      <div class="col-xl-5 h-100">
        <!-- Show basket -->
        <promo-basket-h
          :basket="basket"
          :basket-cost="basketCost"
          :max-count="basketMaxCount"
          :basket-text-width="basketTextWidth"
        ></promo-basket-h>
      </div>
      <div class="col-xl-7 d-flex flex-column mb-1">
        <!-- Show additional title -->
        <div v-if="product == null && additional != null" class="row additional-title-row my-2">
          <div class="col w_title">{{ additionalTitle.toUpperCase() }}</div>
          <div class="w_steps"></div>
        </div>
        <!-- Show additional products -->
        <div class="row flex-fill">
          <div class="col d-flex flex-column">
            <div class="row h-100" v-if="product == null">
              <div
                class="col-6 align-self-bootom h_sale_item w_sale_item"
                v-for="(item, index) in additional"
                :key="index"
                :class="{ 'w_two_items': hide_blocks }"
              >
                <product-card :name="item.name" :product="item"></product-card>
              </div>
            </div>
            <div class="row h-100" v-else>
              <div class="col align-self-bootom">
                <product-card :name="product.name" :product="product" :is-big="true"></product-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["baseUrl", "cashboxId"],
  data() {
    return {
      url: "/api/promo",
      logo: this.baseUrl + "/images/stoletov/logo.svg",
      basketIcon: this.baseUrl + "/images/stoletov/icon_basket.svg",
      iLiveIcon: this.baseUrl + "/images/stoletov/i_live.svg",
      promoImg: this.baseUrl + "/images/stoletov/promo.png",
      additionalHeaderImg:
        this.baseUrl + "/images/stoletov/additional_header.svg",
      basket: {},
      additional: {},
      showPromo: true,
      product: null,
      refreshTime: 1000,
      additionalTitle: "Не забудь купить",
      additionalTitleRightImg:
        this.baseUrl + "/images/stoletov/additional_title_right.png",
      height: 0,
      basketMaxCount: 20,
      promoImages: [],
      basketTextWidth: 30,
      windowWidth: window.innerWidth,
      windowHeight: window.innerHeight,
      maxCount: 0,
      promoHeight: 0,
      hide_blocks: false,
      size_slide: 1920,
      test: "test"
    };
  },
  mounted() {
    this.updateData();
    window.onresize = () => {
      this.windowWidth = window.innerWidth;
      this.windowHeight = window.innerHeight;
    };
    this.hideBlocks();
    this.sliderWidth();
  },
  methods: {
    updateData() {
      axios
        .get(this.baseUrl + this.url + "/" + this.cashboxId)
        .then(response => {
          this.oldShowPromo = this.showPromo;
          this.showPromo = response.data.show_promo;

          //Fix bug stop slider after session close(Reload page)
          if (this.oldShowPromo === false && this.showPromo === true) {
            window.location.reload(true);
          }

          this.basket = response.data.basket;
          this.basketCost = response.data.basket_cost;
          this.additional = response.data.additional;
          this.product = response.data.product;
          if (this.additional != null) {
            this.additional = this.additional.slice(0, 4);
          }
        });
    },
    hideBlocks() {
      this.$on("updateCount", function(value) {
        if (this.basket.length > value) {
          this.hide_blocks = true;
        } else {
          this.hide_blocks = false;
        }
      });
    },
    sliderWidth() {
      if (this.windowWidth < 1281 && this.windowWidth > 768) {
        this.size_slide = 1280;
      }
      if (this.windowWidth < 769) {
        this.size_slide = 768;
      }
      this.promoImages = {
        "768": [
          {
            id: 0,
            src: this.baseUrl + "/images/cashboxes/768/1.jpg"
          },
          {
            id: 1,
            src: this.baseUrl + "/images/cashboxes/768/2.jpg"
          },
          {
            id: 2,
            src: this.baseUrl + "/images/cashboxes/768/3.jpg"
          },
          {
            id: 3,
            src: this.baseUrl + "/images/cashboxes/768/4.jpg"
          },
          {
            id: 4,
            src: this.baseUrl + "/images/cashboxes/768/5.jpg"
          },
          {
            id: 5,
            src: this.baseUrl + "/images/cashboxes/768/6.jpg"
          }
          /*
          {
            id: 0,
            src: this.baseUrl + "/images/cashboxes/768/768_dostavka.jpg"
          }
          */
        ],
        "1280": [
          /*
          {
            id: 0,
            src: this.baseUrl + "/images/cashboxes/1280/1.jpg"
          },
          {
            id: 1,
            src: this.baseUrl + "/images/cashboxes/1280/2.jpg"
          },
          {
            id: 2,
            src: this.baseUrl + "/images/cashboxes/1280/3.jpg"
          },
          {
            id: 3,
            src: this.baseUrl + "/images/cashboxes/1280/4.jpg"
          },
          {
            id: 4,
            src: this.baseUrl + "/images/cashboxes/1280/5.jpg"
          },
          {
            id: 5,
            src: this.baseUrl + "/images/cashboxes/1280/6.jpg"
          }
          */
          {
            id: 0,
            src: this.baseUrl + "/images/cashboxes/1280/1280_dostavka.jpg"
          }
        ],
        "1920": [
          {
            id: 0,
            src: this.baseUrl + "/images/cashboxes/1920/1.jpg"
          },
          {
            id: 1,
            src: this.baseUrl + "/images/cashboxes/1920/2.jpg"
          },
          {
            id: 2,
            src: this.baseUrl + "/images/cashboxes/1920/3.jpg"
          },
          {
            id: 3,
            src: this.baseUrl + "/images/cashboxes/1920/4.jpg"
          },
          {
            id: 4,
            src: this.baseUrl + "/images/cashboxes/1920/5.jpg"
          },
          {
            id: 5,
            src: this.baseUrl + "/images/cashboxes/1920/6.jpg"
          }
          /*
          {
            id: 6,
            src: this.baseUrl + "/images/cashboxes/1920/7.jpg"
          }
          */
          /*
          {
            id: 0,
            src: this.baseUrl + "/images/cashboxes/1920/1920_dostavka.jpg"
          }
          */
        ]
      };
    }
  },
  created() {
    this.timer = setInterval(this.updateData, this.refreshTime);
  }
};
</script>
