<template>
  <div class="container-fluid py-2">
    <div class="row d-flex flex-column h-100">
      <div class="row flex-fill">
        <div class="col d-flex flex-column">
          <div class="h-100">
            <div
              class="d-flex align-items-center basket-row basket__item"
              v-for="(item, index) in basket"
              v-if="index >= basket.length - maxCount"
            >
              <div
                class="col-6 p-2 text-left basket-name"
                style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 40ch;"
              >
                {{ index + 1 }}
                {{ dotTitle }}
                {{ item.name }}
              </div>
              <div class="col p-2 text-center">
                <div class="basket-count">
                  {{ item.count }}
                  {{ countTitle }}
                </div>
                <div class="basket-price">
                  {{ formatPrice(item.price) }}
                  {{ currencyTitle }}
                  {{ onOne }}
                  {{ countTitle }}
                </div>
              </div>
              <div class="col p-2 basket-cost">
                {{ formatPrice(item.cost) }}
                {{ currencyTitle }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row basket-footer">
        <div class="col text-right">
          <span class="basket-total-title">{{ totalTitle }}</span>
          <span class="basket-total-cost">
            {{ formatPrice(getBasketCost(basketCost)) }}
            {{ currencyTitle }}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["basket", "basketCost", "maxCount", "basketTextWidth"],
  data() {
    return {
      currencyTitle: " руб.",
      countTitle: " шт.",
      dotTitle: ". ",
      onOne: " за 1 ",
      totalTitle: "Итого: "
    };
  },
  mounted() {},
  methods: {
    formatPrice(value) {
      return parseFloat(value)
        .toFixed(2)
        .replace(".", ",");
    },
    getBasketCost(value) {
      if (value === null) {
        return 0.00;
      } else {
        return parseFloat(value)
          .toFixed(2)
          .replace(".", ",");
      }
    }
  },
  created() {}
};
</script>
