<template>
  <div class="row navbar" style="background-color: #213791; height: 102px;">
    <div class="col-2">
      <img :src="logo" />
    </div>
    <div class="col-8 text-center">
      <span class="basket-title">
        {{ recycleTitle.toUpperCase() }}
        <img :src="basketIcon" />
      </span>
      <span class="badge badge-success label-as-badge">{{ count }}</span>
    </div>
    <div class="col-2 text-right">
      <img :src="iLiveIcon" />
    </div>
  </div>
</template>
<script>
export default {
  props: ["logo", "basketIcon", "iLiveIcon", "count"],
  data() {
    return {
      recycleTitle: "Корзина"
    };
  },
  mounted() {},
  methods: {},
  created() {}
};
</script>
