<template>
  <!--<div class="card">
    <img
      class="card-img-top"
      :class="[ isBig ? 'product-image-big' : 'product-image' ]"
      :src="product.image_url"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">{{ product.name }}</p>
    </div>
  </div>-->
  <div class="d-flex flex-column h-100 py-1">
    <div class="d-flex flex-column h-100 container-fluid card px-1" style="border: none;">
      <div class="d-flex flex-column h-100">
        <div class="row py-3" v-if="isBig">
          <h1>
            <b>{{ product.name }}</b>
          </h1>
        </div>
        <div class="row flex-fill w_img_wrap">
          <div class="col d-flex flex-column" style="background: white;">
            <div class="h-100">
              <div class="d-flex align-items-center h-100 justify-content-center">
                <img
                  :class="[ isBig ? 'product-image-big' : 'product-image' ]"
                  :src="product.image_url"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col card-body product-card">
            <div
              class="card-title product-name"
              style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 40ch;"
              v-if="isBig == false || isBig == null"
            >{{ product.name }}</div>
            <div v-if="product.brand" class="card-text product-name">
              {{ brandTitle }}
              {{ product.brand }}
            </div>
            <div class="card-text product-price">
              {{ formatPrice(product.price) }}
              {{ currencyTitle }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["product", "isBig"],
  data() {
    return {
      height: 230,
      brandTitle: "Бренд: ",
      currencyTitle: "руб."
    };
  },
  mounted() {},
  methods: {
    formatPrice(value) {
      return parseFloat(value)
        .toFixed(2)
        .replace(".", ",");
    }
  },
  created() {}
};
</script>
