<template>
  <div class="row">
    <div class="col p-0">
      <div
        id="carouselSlider"
        class="carousel slide"
        :data-interval="interval"
        data-ride="carousel"
        data-pause="false"
        style="background: white;"
      >
        <div class="carousel-inner">
          <div
            class="carousel-item"
            :class="(index != 0)?'carousel-item':'active carousel-item'"
            v-for="(image, index) in promoImages"
            :key="image.id"
          >
            <div class="d-flex align-items-center justify-content-center min-vh-100">
              <img
                class="d-block"
                ref="slideTest"
                :style="{ height: maxHeight + 'px' }"
                :src="image.src"
                alt="First slide"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["promoImages", "maxHeight"],
  data() {
    return {
      interval: 7000
    };
  },
  mounted() {},
  methods: {}
};
</script>
