<template>
  <div class="container-fluid d-flex flex-column">
    <!-- Show promo -->
    <promo v-if="showPromo" :promo-images="getImages()" :max-height="windowHeight"></promo>
    <!-- Open session -->
    <div v-if="!showPromo" class="row">
      <div class="col">
        <!-- Show navbar -->
        <promo-navbar
          :logo="logo"
          :basketIcon="basketIcon"
          :iLiveIcon="iLiveIcon"
          :count="this.basket.length"
        ></promo-navbar>
      </div>
    </div>
    <div v-if="!showPromo" class="row flex-fill">
      <div class="col d-flex flex-column">
        <div class="h-100">
          <!-- Show big product card -->
          <product-card v-if="product != null" :product="product" :is-big="true"></product-card>

          <!-- OR Show basket -->
          <promo-basket
            v-if="product == null && basket.length != 0"
            :basket="basket"
            :basket-cost="basketCost"
            :max-count="basketMaxCount"
          ></promo-basket>
          <div class="row h-100" v-if="product == null && basket.length == 0">
            <div class="col-6" v-for="(item, index) in additional" :key="index">
              <product-card :name="item.name" :product="item"></product-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="!showPromo && (basket != null || product != null)" class="row mb-1">
      <div class="col">
        <!-- Show additional title -->
        <div
          v-if="(basket.length != 0 || product != null) && additional.length != 0"
          class="row additional-title-row align-items-center mb-1"
        >
          <div class="col-8 mt-3">{{ additionalTitle.toUpperCase() }}</div>
          <div
            class="col h-100"
            :style="{
                backgroundImage: 'url(' + additionalTitleRightImg + ')',
                backgroundPosition: 'right top',
                backgroundRepeat: 'no-repeat',
                backgroundSize: 'auto 100%',
            }"
          ></div>
        </div>

        <!-- Show additional products -->
        <div class="row" v-if="product != null || basket.length != 0">
          <div class="col-6" v-for="(item, index) in additional" :key="index">
            <product-card :name="item.name" :product="item"></product-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["baseUrl", "cashboxId"],
  data() {
    return {
      url: "/api/promo",
      logo: this.baseUrl + "/images/stoletov/logo.svg",
      basketIcon: this.baseUrl + "/images/stoletov/icon_basket.svg",
      iLiveIcon: this.baseUrl + "/images/stoletov/i_live.svg",
      promoImg: this.baseUrl + "/images/stoletov/promo.png",
      additionalHeaderImg:
        this.baseUrl + "/images/stoletov/additional_header.svg",
      basket: {},
      basketCost: 0.0,
      additional: {},
      showPromo: true,
      product: null,
      refreshTime: 1000,
      additionalTitle: "Не забудь купить",
      additionalTitleRightImg:
        this.baseUrl + "/images/stoletov/additional_title_right.png",
      height: 0,
      basketMaxCount: 12,
      promoImages: [
        {
          id: 0,
          src: this.baseUrl + "/images/cashboxes/v/slide_1.png"
        },
        {
          id: 1,
          src: this.baseUrl + "/images/cashboxes/v/slide_2.png"
        },
        {
          id: 2,
          src: this.baseUrl + "/images/cashboxes/v/slide_3.png"
        }
      ],
      basketTextWidth: 40,
      windowWidth: window.innerWidth,
      windowHeight: window.innerHeight,
      oldShowPromo: false
    };
  },
  mounted() {
    this.updateData();
    window.onresize = () => {
      this.windowWidth = window.innerWidth;
      this.windowHeight = window.innerHeight;
    };
  },
  methods: {
    getImages() {
      return this.promoImages;
    },
    updateData() {
      axios
        .get(this.baseUrl + this.url + "/" + this.cashboxId)
        .then(response => {
          this.oldShowPromo = this.showPromo;
          this.showPromo = response.data.show_promo;

          //Fix bug stop slider after session close(Reload page)
          if (this.oldShowPromo === false && this.showPromo === true) {
            window.location.reload(true);
          }

          this.basket = response.data.basket;
          this.basketCost = response.data.basket_cost;
          this.additional = response.data.additional;

          this.product = response.data.product;
          if (this.additional != null) {
            if (
              this.product != null ||
              (this.basket != null && this.basket.length > 6)
            ) {
              this.additional = this.additional.slice(0, 2);
            } else if (this.basket != null && this.basket.length > 0) {
              this.additional = this.additional.slice(0, 4);
            } else {
              this.additional = this.additional.slice(0, 6);
            }
          }
        });
    }
  },
  created() {
    this.timer = setInterval(this.updateData, this.refreshTime);
  }
};
</script>
